:root {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  --brand-color: #0072b0;
}

/* 
  This helps us with 3rd party components that may rely on content-box value:

  .some-3rd-pt-comp {
    box-sizing: content-box;
  }
*/
*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background: lightgray;
}

/* 
  Trick to vertically space elements evenly. 
  (a.k.a. lobotomized owl)
*/
body * + * {
  margin-top: 1em;
}

header {
  background: var(--brand-color);
  color: white;
  padding: 1em 2em;
  border-radius: .5em;
  font-size: 1.2rem;
}

.container {
  display: flex;
  margin-top: 1em;
}

main {
  /* Fix for IE bug. */
  display: block;
}

.main {
  width: 70%;
  min-height: 15vh;
  vertical-align: top;

  padding: 1em;
  border-radius: .5em;

  background: white;
}

.sidebar {
  width: 30%;
  margin-left: 1em;
  margin-top: 0; /* Fix side-effect caused by lobotomized owl. */
  min-height: 15vh;
  vertical-align: top;

  padding: 1em;
  border-radius: .5em;

  background: white;
}

.sidebar .widget {
  width: 100%;
  background: var(--brand-color);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: .3em;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: var(--brand-color);
  font-weight: bold;
}

.square {
  /* Center the content of the div (use CSS table layout) */
  display: table;
}

.square > div {
  display: table-cell;

  /* Center it horizontally... */
  text-align: center;
  /* ... and then vertically */
  vertical-align: middle;

  width: 400px;
  height: 400px;
  background: red;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}