html {
  /* rem units are based of the "root" font size */
  font-size: 62.5%; /* define 1rem = 10px (easier math) */
  margin: 0;
  height: 100vh;
}

body {
  font-family: "Adobe Clean", sans-serif;
  font-size: 1.6rem; /* Default size is back to 16px */
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, textarea, button {
  font: inherit;
  line-height: inherit;
}

.item {
  background-color: #8e7c71;
  color: yellow;
  font-weight: bolder;
  font-size: 2rem;
  border: 1px solid black;
}

.container {
  display: grid;
  margin-bottom: 2rem;
  max-width: 80rem;
}

.container.container-1 {
  grid-template-columns: 100px 50px;
  grid-template-rows: 50px 100px;

  row-gap: 10px;
  column-gap: 5px;

  /*gap: 5px;*/

  /* grid-template-columns: repeat(4, 50px); */
  /* grid-template-columns: repeat(4, 1fr); */

  /* define the direction where new elements are added */
  /* with the dense option, grid tries to fill the gaps as best it can */
  grid-auto-flow: column /* dense */;

  /* define dimensions for elements that don't fit (cycles through the values) */
  grid-auto-rows: 70px 30px;
  grid-auto-columns: 50px 100px;


  /* same as above: cols / rows */
  /* grid-template: 50px 100px / 100px 50px */

  justify-content: center;
}

.container.container-2 {
  grid-template-columns: 50px 250px;
  grid-template-rows: 30px 200px;

  justify-content: end;

  /* give names to areas of the grid */
  grid-template-areas:
    "header header"
    "sidebar content"; /* the dot says that anything can go after the content area */
}

/* associate HTML elements with grid areas */
.item.item-21 {
  grid-area: header;
}

.item.item-22 {
  grid-area: sidebar;
}

.item.item-23 {
  grid-area: content;
}

.container.container-3 {
  /* we can have fractional units to dynamically size the grid */
  grid-template-columns: 1fr 2fr 3fr;
}

.item.item-31 {
  /* the numbers refer to the _lines_ that separate the grid elements */
  /* (same for rows) */
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-column: 1 / 3; */
}

.item.item-32 {
  grid-row: span 2;
}

.item.item-33 {
  /* make the element span all the cols (the negative numbers count the lines in reverse order) */
  grid-column: 1 / -1;
  /* move the element on 3rd row */
  grid-row: 3;
}

.container.container-4 {
  grid-template-columns: repeat(2, 1fr);
  /* adjust the height of the row to fit the content*/
  grid-template-rows: minmax(100px, auto) 100px;

  justify-items: center;
  align-items: center;
}

.item.item-42 {
  align-self: start;
  justify-self: end;
}
