<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chapter 2</title>
</head>
<body>
<main>
    <h1>Hello there!</h1>

    <p>Learning Spring Boot 3</p>

    <ul>
        {{#videos}}
            <li>{{name}}</li>
        {{/videos}}
    </ul>

    <hr/>

    <form method="POST" action="/new-video">
        <label>
            Name:
            <input type="text" name="name">
        </label>

        <button type="submit">Submit</button>
    </form>
</main>
</body>
</html>
