html {
  /* rem units are based of the "root" font size */
  font-size: 62.5%; /* define 1rem = 10px (easier math) */
  margin: 0;
  height: 100vh;
}

body {
  font-family: "Adobe Clean", sans-serif;
  font-size: 1.6rem; /* Default size is back to 16px */
  line-height: 1.5;

  min-height: 200vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  column-count: 2;
  column-rule: 2px solid #aaa;
  column-gap: 2rem;
}

h2 {
  column-span: all;
}