{% extends "base-layout.html.j2" %}
{% block content %}
<h1>Blogs</h1>

{% for post in posts %}
<article class="content-section py-3 px-4 mb-4">
  <div class="d-flex align-items-start gap-4">
    <img class="rounded-circle article-img flex-shrink-0" src="{{ post.author.image_path }}"
      alt="{{ post.author.full_name }}'s profile picture" width="64" height="64" loading="lazy">
    <div class="flex-grow-1">
      <div class="article-metadata mb-2">
        <a class="me-2" href="{{ url_for('page:users:posts:list', user_id=post.author.id) }}">{{ post.author.full_name }}</a>
        <small class="text-body-secondary">{{ post.date_posted.strftime("%B %d, %Y") }}</small>
      </div>
      <h2>
        <a class="article-title" href="{{ url_for('page:posts:detail', post_id=post.id) }}">{{ post.title }}</a>
      </h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </div>
</article>

{% endfor %}
{% endblock content %}