body {
  font-family: "Adobe Clean", sans-serif;
  font-size: 1.2rem;
}

* {
  /*
    The width & height now also include the border & margin values
    (makes the computations around box-sizes much easier).
  */
  box-sizing: border-box;
}

.div-one, .div-two {
  width: 100px;
  height: 100px;

  /* elements of the box model */
  padding: 10px;
  border: 3px solid black;
  border-top-width: 6px;
  margin: 20px; /* NOTE: margin collapses for 2 adjacent elements (the larger margin wins)  */

  /* content positioning: center */
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */

}

.div-one {
  background-color: green;
}

.div-two {
  background-color: deepskyblue;
}